.settings/
.classpath
.project
target/
logs/
data/
.idea/
.gradle/
build/
HtmlExtractor.iml
HtmlExtractor.ipr
HtmlExtractor.iws
html-extractor/.settings/
html-extractor/.classpath
html-extractor/.project
html-extractor/target/
html-extractor/logs/
html-extractor/data/
html-extractor/.idea/
html-extractor/.gradle/
html-extractor/build/
html-extractor/html-extractor.iml
html-extractor/html-extractor.ipr
html-extractor/html-extractor.iws
html-extractor-web/.settings/
html-extractor-web/.classpath
html-extractor-web/.project
html-extractor-web/target/
html-extractor-web/logs/
html-extractor-web/data/
html-extractor-web/.idea/
html-extractor-web/.gradle/
html-extractor-web/build/
html-extractor-web/html-extractor-web.iml
html-extractor-web/html-extractor-web.ipr
html-extractor-web/html-extractor-web.iws